<!DOCTYPE HTML>
<html>
<head>
    <title>SenzilMessenger</title>
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="/js/server.js" charset="utf-8"></script>
</head>
<body>
    <div id="headarea">
        <form id="join" method="POST" action='#'>
            <input type="text" name="join_room" id="join_room" placeholder="Room Name">
            <input type="submit" value="Join Room">
        </form>
        <form id="disconnect" method="POST" action="#">
            <input type="submit" value="Disconnect">
        </form>
    </div>
    <h1>Move stuff from here</h1>
    <form id="leave" method="POST" action='#'>
        <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
        <input type="submit" value="Leave Room">
    </form>

    <h2>Chat:</h2>
    <div><p id="log"></p></div>
    <div id="bottomarea">
        <form id="emit" method="POST" action='#'>
            <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
            <input type="submit" value="Broadcast" id="submitmessage">
        </form>
    </div>
</body>
</html>
